{% extends "jobs/base.html" %}
{% block body %}

{% load staticfiles %}

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">

                <h1>Blogs</h1><br>

                {% for blogitem in blogitems.all reversed %}
                    <h5><a href=""></a>{{blogitem.title}}</a></h5>
                    <p>{{blogitem.date_posted_pretty}}</p>
                    <img class="img-fluid" src="{{blogitem.image.url}}" alt="" width=200>
                    <p>{{blogitem.summary|safe }}</p>
                    <a href="{{blogitem.id}}"><button type="button" class="btn btn-info"><i class="fa fa-eye"></i> View</button></a>
                    <hr>
                {% endfor %}

            </div>
        </div>
    </main>

{% endblock %}
