{% extends "jobs/base.html" %}
{% block body %}

{% load staticfiles %}

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">

                <h1 class="text-center">{{blog.title}}</h1><br>
                <p class="text-center">{{blog.date_posted_pretty}}</p>
                <img class="img-fluid" src="{{blog.image.url}}" alt="">
                <br><br>
                <p>{{blog.body_text|safe}}</p>

                <hr>


            </div>
        </div>
    </main>

{% endblock %}
