{% extends "jobs/base.html" %}
{% block body %}

{% load staticfiles %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Text</h1>
                <p class="lead text-muted">Here are the projects.</p>
                <p>
                    <a href="mailto:joe@example.com?subject=wants_to_connect" class="btn btn-primary my-2">Email</a>
                </p>
                <img src="{% static 'boxing.png' %}" width="100" alt="">
            </div>
        </section>


        <section class="page-section bg-info" style="margin-top: -32px">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <br><br>
                  <h2 class="text-white mt-0">We've got what you need!</h2>
                  <hr class="divider light my-4">
                  <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                  <br><br><br>
                </div>
              </div>
            </div>
        </section>


        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="text-center">Projects</h2><br>
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ job.image.url}}" alt="" height="200" width="auto"/>
                            <div class="card-body">
                                <p class="card-text">{{job.summary}}</p>
                                <a href="jobs/{{job.id}}"><button type="button" class="btn btn-info ">View project</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>




    </main>


{% endblock %}
