{% extends "jobs/base.html" %}
{% block body %}

{% load staticfiles %}
<style>
    .tick {
        color: green !important;
    }
</style>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading text-muted"><kbd>Hello World!</kbd></h1><br>

                <h4 class="text-muted">I am <span class="text-info">Lokesh Sivakumar</span>.</h4>
                <p class="lead text-muted">A full stack web/software developer in Bournemouth University. <br></p>
                    <p><kbd>creative</kbd> <kbd>resourceful</kbd> <kbd>talented</kbd> <kbd>avid learner</kbd> <kbd>problem-solving</kbd> <br>
                        {<kbd class="pro">html</kbd> <kbd class="pro">css</kbd> <kbd class="pro">python 3</kbd> <kbd class="pro">php</kbd> <kbd class="pro">rdbms</kbd> <kbd class="pro">photoshop</kbd> <kbd class="pro">wordpress</kbd>}</p>
                
                <br>
                <img src="{% static 'headshot.png' %}" width="300" alt=""><br><br><br>
                <h4 class="text-center">Key Skills</h4>
                <div class="row justify-content-center">

                    <ul class="text-left list-inline">
                        <div>
                            <li><i class="fa fa-check-circle tick"></i> Excellent problem solving and logical thinking skills.</li>
                            <li><i class="fa fa-check-circle tick"></i> Good knowledge of data structures, algorithms and SDLC.</li>
                            <li><i class="fa fa-check-circle tick"></i> Provided many business solutions and ideas that had positive impact on the business.</li>
                            <li><i class="fa fa-check-circle tick"></i> Trained, hired and motivated junior developers.</li>
                            <li><i class="fa fa-check-circle tick"></i> Pro-active self taught developer who loves to learn new technologies.</li>
                            <li><i class="fa fa-check-circle tick"></i> Self reliant when it comes to working alone. Team player, listens more.</li>
                        </div>
                    </ul>
                </div>
            </div>
        </section>


        <section class="page-section bg-info" style="margin-top: -32px">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <br><br>
                  <h2 class="text-white mt-0">Career Timeline </h2>
                  <hr class="divider light my-4">
                  <p class="text-light mb-4">Looking back, here's what I did with passion over the years! Here's a little timeline. </p>
                  <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->

                </div>

                <p><img src="{% static 'timeline.png' %}" class="img-fluid" alt=""></p>
                <div class="col-lg-8 text-center">
                    <br><br>
                  <h2 class="text-white mt-0">Education </h2>
                  <hr class="divider light my-4">
                  <p class="text-light mb-4">2012 - Master's Degree in IT -  <kbd>University of Surrey, UK</kbd></p>
                  <p class="text-light mb-4">2010 - Bachelor's Degree in IT -  <kbd>Anna University, India</kbd></p>
                  <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->

                </div>

              </div>
              <br><br>
            </div>
        </section>


        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="text-center">Projects</h2><br>
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ job.image.url}}" alt="" height="200" width="auto"/>
                            <div class="card-body">
                                <p class="card-text">{{job.summary}}</p>
                                <a href="jobs/{{job.id}}"><button type="button" class="btn btn-info ">View details</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>




    </main>


{% endblock %}
