{% extends "jobs/base.html" %}
{% block body %}

{% load staticfiles %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading text-muted"><kbd>Hello World!</kbd></h1><br>

                <h4 class="text-muted">I am <span class="text-info">Lokesh Sivakumar</span>.</h4>
                <p class="lead text-muted">A full stack web/software developer currently employed by Bournemouth University. <br>I am <strong class="text-info">creative, resourceful and talented</strong> and is currently seeking new challenges. </p>
                <!-- <p>
                    <a href="mailto:lokez21@gmail.com" class="btn btn-primary my-2">Email</a>
                </p> -->
                <br>
                <img src="{% static 'headshot.png' %}" width="300" alt="">
            </div>
        </section>


        <section class="page-section bg-info" style="margin-top: -32px">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <br><br>
                  <h2 class="text-white mt-0">Career Timeline </h2>
                  <hr class="divider light my-4">
                  <p class="text-light mb-4">Looking back, here's what I did with passion over the years! Here's a little timeline. </p>
                  <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->

                </div>

                <p><img src="{% static 'timeline.png' %}" class="img-fluid" alt=""></p>
                <div class="col-lg-8 text-center">
                    <br><br>
                  <h2 class="text-white mt-0">Education </h2>
                  <hr class="divider light my-4">
                  <p class="text-light mb-4">2012 - Master's Degree in IT -  <kbd>University of Surrey, UK</kbd></p>
                  <p class="text-light mb-4">2010 - Bachelor's Degree in IT -  <kbd>Anna University, India</kbd></p>
                  <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->

                </div>

              </div>
              <br><br>
            </div>
        </section>


        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="text-center">Projects</h2><br>
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ job.image.url}}" alt="" height="200" width="auto"/>
                            <div class="card-body">
                                <p class="card-text">{{job.summary}}</p>
                                <a href="jobs/{{job.id}}"><button type="button" class="btn btn-info ">View details</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>




    </main>


{% endblock %}
